<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title mb-0">Leerplannen</h4>
        </div>
        <div class="card-block">
          <div class="course-wrapper" style="min-height:300px;">
            <style>
              .selectable:hover {
                cursor: pointer;
              }
              .table-label {
                width: 10%;

              }
            </style>
            <div class="row">
              <div class="col-md-2">
                <table class="table table-hover">
                  <thead>
                  <tr>
                    <td><b>Cohorts</b></td>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let c of courses" (click)="onSelect(c)" class="selectable">
                    <td>{{ c.naam }}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-10 course">
                <!--<div class="btn-group" role="group" aria-label="...">-->
                <!--<button type="button" class="btn btn-default" (click)="changeTab(1)">Cursus beschrijving</button>-->
                <!--<button type="button" class="btn btn-default" (click)="changeTab(2)" *ngIf="currentCourse.eindBT?.length > 0">Beroepstaken</button>-->
                <!--<button type="button" class="btn btn-default" (click)="changeTab(3)" *ngIf="currentCourse.eindPS?.length > 0">Professional skills</button>-->
                <!--</div>-->
                <div class="course-header">
                  <div class="course-title pull-left">
                    <h3>{{currentCourse.naam}}</h3>
                  </div>
                  <div class="course-navigation pull-right">
                    <button type="button" [ngClass]="{active : selectedButton == 1}" class="btn btn-primary" (click)="changeTab(1)"><i class="icon-info"></i> Details</button>
                    <button type="button" [ngClass]="{active : selectedButton == 2}" class="btn btn-primary" (click)="changeTab(2)" *ngIf="currentCourse.eindBT?.length > 0"><i class="fa fa-star"></i> Beroepstaken</button>
                    <button type="button" [ngClass]="{active : selectedButton == 3}" class="btn btn-primary" (click)="changeTab(3)" *ngIf="currentCourse.eindPS?.length > 0"><i class="icon-badge"></i> Professional Skills</button>
                    <button type="button" [ngClass]="{active : selectedButton == 4}" class="btn btn-primary" (click)="changeTab(4)" *ngIf="currentCourse.leerdoelen?.length > 0"><i class="icon-list"></i> Leerdoelen</button>
                  </div>
                </div>

                <div class="course-info">
                  <div class="details" *ngIf="selectedButton == 1">
                    <table class="table table-bordered course-information table-hover">
                      <tr>
                        <td class="table-label"><b>Code:</b></td>
                        <td>{{currentCourse.code}}</td>
                      </tr>
                      <tr>
                        <td><b>Naam:</b></td>
                        <td>{{currentCourse.naam}}</td>
                      </tr>
                      <tr>
                        <td><b>Coordinator:</b></td>
                        <td>{{currentCourse.coordinator?.naam}}</td>
                      </tr>
                      <tr>
                        <td><b>Periode:</b></td>
                        <td>{{currentCourse.periode}}</td>
                      </tr>
                      <tr>
                        <td><b>European credits:</b></td>
                        <td>{{currentCourse.europeanCredits}}</td>
                      </tr>
                    </table>
                  </div>

                  <div class="beroepstaken" *ngIf="selectedButton == 2">

                    <div class="row">
                      <div class="col-md-3 beroepstaak" *ngFor="let bt of currentCourse.eindBT">
                        <table class="table table-bordered table-hover">
                          <tr>
                            <td class="table-label">Naam:</td>
                            <td>{{bt.data?.activiteit}}</td>
                          </tr>
                          <tr>
                            <td class="table-label">Architectuurlaag:</td>
                            <td>{{bt.data?.architectuurlaag}}</td>
                          </tr>
                          <tr>
                            <td class="table-label">Niveau:</td>
                            <td>{{bt.data?.niveau}}</td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>

                  <div class="professionalskills" *ngIf="selectedButton == 3">
                    <div class="row">
                      <div class="col-md-3 beroepstaak" *ngFor="let ps of currentCourse.eindPS">
                        <table class="table table-bordered table-hover">
                          <tr>
                            <td class="table-label">Code:</td>
                            <td>{{ps.data?.code}}</td>
                          </tr>
                          <tr>
                            <td class="table-label">Beschrijving:</td>
                            <td>{{ps.data?.beschrijving}}</td>
                          </tr>
                          <tr>
                            <td class="table-label">Niveau:</td>
                            <td>{{ps.data?.niveau}}</td>
                          </tr>
                        </table>
                      </div>
                    </div>

                  </div>

                  <div class="leerdoelen" *ngIf="selectedButton == 4">
                    <div class="row">
                      <div class="col-md-6 beroepstaak" *ngFor="let ld of currentCourse.leerdoelen">
                        <table class="table table-bordered table-hover">
                          <tr>
                            <td class="leerdoelen-label">Naam:</td>
                            <td>{{ld.naam}}</td>
                          </tr>
                          <tr>
                            <td class="leerdoelen-label">Eind behaalde Beroepstaken:</td>
                            <td>{{ld.data?.eindBT}}</td>
                          </tr>
                          <tr>
                            <td class="leerdoelen-label">Eind behaalde Professional skills:</td>
                            <td>{{ld.data?.eindPS}}</td>
                          </tr>
                          <tr>
                            <td class="leerdoelen-label">Toetsplanning:</td>
                            <td>{{ld.toetsplanning}}</td>
                          </tr>
                          <tr>
                            <td colspan="2"><b>Bloom niveau:</b><br />
                            <table class="table table-bordered">
                              <tr>
                                <td>Bloom Niveau:</td>
                                <td>{{ld.data?.bloomniveau.data?.niveau}}</td>
                              </tr>
                              <tr>
                                <td>Bloom Omschrijving:</td>
                                <td>{{ld.data?.bloomniveau.data?.omschrijving}}</td>
                              </tr>
                            </table>
                            </td>
                          </tr>
                        </table>
                      </div>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">

      </div>
    </div>
  </div>
</div>
