<header class="app-header navbar">
	<button class="navbar-toggler mobile-sidebar-toggler hidden-lg-up" type="button">&#9776;</button>
	<a class="navbar-brand" href="#"></a>
	
	<ul class="nav navbar-nav hidden-md-down">
    	<li class="nav-item px-1"><a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><i class="icon-speedometer"></i> Dashboard</a></li>
    	<li class="nav-item px-1"><a class="nav-link" routerLinkActive="active" [routerLink]="['/opleidingen']"><i class="fa fa-university"></i> Opleidingsprofielen</a></li>
    	<li class="nav-item px-1"><a class="nav-link" routerLinkActive="active" [routerLink]="['/cursussen']"><i class="fa fa-ticket"></i> Cursussen</a></li>
    	<li class="nav-item px-1"><a class="nav-link" routerLinkActive="active" [routerLink]="['/docenten']"><i class="fa fa-graduation-cap"></i> Docenten</a></li>
	</ul>
   	<ul class="nav navbar-nav ml-auto">
    	<li class="dropdown">
			<a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#">Welkom, <label id= "user">gebruiker</label><span class="caret"></span></a>
		    <ul class="dropdown-menu">
		      	<li><a class="nav-item hidden-md-down" routerLinkActive="active" [routerLink]="['/']">Profiel</a></li>
		        <li><a (click)="logout()" class="nav-item hidden-md-down" routerLinkActive="active" [routerLink]="['/logins']">Uitloggen</a></li>
		    </ul>
	    </li>
  	</ul>
</header>

<div class="app-body">
  	<!-- Main content -->
  	<main class="content">

    	<!-- Breadcrumb -->
    	<ol class="breadcrumb">
      		<breadcrumbs></breadcrumbs>
    	</ol>
    	<div class="container-fluid">
      		<router-outlet></router-outlet>
    	</div><!-- /.conainer-fluid -->
  	</main>
</div>

<footer class="app-footer">
  	<span class="float-right">Powered by <a href="http://google.nl">MA-GROEP</a></span>
</footer>
