
						<!-- 						<ng-container -->
						<!-- 							*ngFor="let row of selectedCursus.toetsmatrijs; let i = index"> -->
						<!-- 						<ng-container *ngIf="i > 2"> -->
						<!-- 						<tr> -->
						<!-- 							<ng-container *ngFor="let item of row; let j = index"> -->
						<!-- 								<ng-container *ngIf="j < 3"> -->
						<!-- 									<td class="ld" [ngClass]="{'total': j == 2}"><div> -->
						<!-- 										<span>{{item}} <ng-container *ngIf="j == 2">%</ng-container></span> -->
						<!-- 										</div> -->
						<!-- 									</td> -->
						<!-- 								</ng-container>  -->
						<!-- 								<ng-container *ngIf="j > 2"> -->
						<!-- 									<td class="weging" *ngIf="toetsMatrijsEdit != item?.id && toetsMatrijsAdd !== item"> -->
						<!-- 										<div (click)="editCell(item?.id, item?.gewicht)" -->
						<!-- 											class="btn-editToets" *ngIf="item !== Array"> -->
						<!-- 											<span>{{item?.gewicht}} <ng-container -->
						<!-- 												*ngIf="item?.gewicht != undefined">%</ng-container></span> -->
						<!-- 										</div> -->
						<!-- 										<div *ngIf="item?.length > 0"> -->
						<!-- 											<button class="btn btn-small btn-info btn-addToets" -->
						<!-- 												(click)="addCell(item)"> -->
						<!-- 												<i class="fa fa-plus" aria-hidden="true"></i> -->
						<!-- 											</button> -->
						<!-- 										</div> -->
						<!-- 									</td> -->
						<!-- 									<td class="weging" *ngIf="toetsMatrijsEdit == item?.id"> -->
						<!-- 										<form #f="ngForm"> -->
						<!-- 											<input type="number" name="gewicht" class="form-control" -->
						<!-- 												[(ngModel)]="toetsMatrijsEditForm.gewicht" max="100" /> -->
						<!-- 											<button class="btn btn-success btn-sm" -->
						<!-- 												(click)="editToetsElement()"> -->
						<!-- 												<i class="fa fa-check"></i> -->
						<!-- 											</button> -->
						<!-- 											<button class="btn btn-danger btn-sm" -->
						<!-- 												(click)="cancelEditGewicht()"> -->
						<!-- 												<i class="fa fa-close"></i> -->
						<!-- 											</button> -->
						<!-- 											<button class="btn btn-danger btn-sm" -->
						<!-- 												(click)="deleteToetsElement()"> -->
						<!-- 												<i class="fa fa-trash"></i> -->
						<!-- 											</button> -->
						<!-- 										</form> -->
						<!-- 									</td> -->
						<!--  									<td class="weging" *ngIf="toetsMatrijsAdd == item"> -->
						<!-- 								<form #f="ngForm"> -->
						<!-- 									<input type="number" name="gewicht" class="form-control" -->
						<!-- 										[(ngModel)]="toetsMatrijsAddForm.gewicht" max="100" /> -->
						<!-- 									<button class="btn btn-success btn-sm" -->
						<!-- 										(click)="addToetsElement()"> -->
						<!-- 										<i class="fa fa-check"></i> -->
						<!-- 									</button> -->
						<!-- 									<button class="btn btn-danger btn-sm" -->
						<!-- 										(click)="cancelSaveGewicht()"> -->
						<!-- 										<i class="fa fa-close"></i> -->
						<!-- 									</button> -->
						<!-- 								</form> -->
						<!-- 									</td> -->
						<!-- 							</ng-container> </ng-container> -->
						<!-- 						</tr> -->
						<!-- 						</ng-container> </ng-container> -->
