<div class="container">
	<h1>Authorisatiebeheer</h1>
	<div class="row">
		<div class="col-lg-2">
			<form>
				<div class="form-group">
				    <label for="exampleSelect1">Kies domein</label>
				    <select name="domein" class="form-control">
				      	<option>1</option>
				      	<option>2</option>
				      	<option>3</option>
				      	<option>4</option>
				      	<option>5</option>
				    </select>
				  </div>
			</form>
		</div>
		<div class="col-lg-2">
			<form action="" method="post">
				<div class="form-group">
				    <label for="exampleSelect1">Kies actie</label>
				    <select name="firstaction" class="form-control">
				      	<option>1</option>
				      	<option>2</option>
				      	<option>3</option>
				      	<option>4</option>
				      	<option>5</option>
				    </select>
				  </div>
			</form>
		</div>
		<div class="col-lg-2">
			<form action="" method="post">
				<div class="form-group">
				    <label for="exampleSelect1">Kies Actie</label>
				    <select name="secondaction" class="form-control">
				      	<option>1</option>
				      	<option>2</option>
				      	<option>3</option>
				      	<option>4</option>
				      	<option>5</option>
				    </select>
				  </div>
			</form>
		</div>
		<div class="col-lg-6">
			<div class="table-responsive">
				<table class="table">
					<thead>
						<th>#</th>
						<th>Functie</th>
						<th>Rollen</th>
						<th></th>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>email1@provider</td>
							<td>Publiek</td>
							<td>
								<form>
									<div class="input-group mb-3">
										<div class="input-group-prepend">
									    	<div class="input-group-text">
									      		<input type="checkbox">
									    	</div>
									  	</div>
									</div>
								</form>
							</td>
						</tr>
						<tr>
							<td>2</td>
							<td>email2@provider</td>
							<td>Publiek</td>
							<td>
								<form>
									<div class="input-group mb-3">
										<div class="input-group-prepend">
									    	<div class="input-group-text">
									      		<input type="checkbox">
									    	</div>
									  	</div>
									</div>
								</form>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th>Rol</th>
					<th>E-mail</th>
					<th>Actie</th>
					<th>Datum</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Publiek</td>
					<td>email1@email</td>
					<td>Profile updated</td>
					<td>15/02/2018, 08:56</td>
				</tr>
				<tr>
					<td>Curriculumleider</td>
					<td>email2@email</td>
					<td>Profile Added</td>
					<td>09/05/2018, 15:26</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>