<style>
.selectable:hover {
	cursor: pointer;
}

.table-label {
	width: 10%;
}
</style>

<div class="container">
	<div *ngIf="loading" align="center" class="page-loading">
		<img src="assets/img/ripple.svg" />
	</div>
	<div class="row">
		<div class="col-3">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title mb-0">Functies</h4>
					<br />
					<button type="button" class="btn btn-info"
						(click)="functionModal.show(); initializeFunctionform();">
						<i class="fa fa-plus" aria-hidden="true"></i>
					</button>
				</div>
				<div class="card-block">
					<div class="course-wrapper">
						<div class="row">
							<div class="col-md-12">
								<table class="table table-hover">
									<tbody>
										<tr *ngFor="let fu of functions" (click)="onSelect(fu)"
											class="selectable">
											<td colspan="1">{{ fu.name }}
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-9 course">
			<div *ngIf="selectedFunction" class="card">
				<div class="card-header">
					<h4 class="card-title mb-0">{{selectedFunction.name}}</h4>
				</div>
				<div class="card-block">
					<!-- Nav tabs -->
					<tabset>
						<tab heading="Functie" id="tab1">
							<form #editFunction="ngForm" novalidate>
								<a href="javascript:void(0)" (click)="changeMode('edit')"
									*ngIf="mode == 'view'">Bewerken</a> <a href="javascript:void(0)"
									(click)="changeMode('view');" *ngIf="mode == 'edit'">Annuleren</a>
								<a href="javascript:void(0)" (click)="saveFunction(editFunction)"
									*ngIf="mode == 'edit'">Opslaan</a>

								<div class="form-group row">
									<label for="name" class="col-2 col-form-label">Functie</label>
									<div class="col-10">
										<div class="col-form-label" *ngIf="mode == 'view'">{{selectedFunction.name}}</div>
								   <input *ngIf="mode == 'edit'" class="form-control" type="text"
											id="name" name="name" required [(ngModel)]="functieform.name">
									</div>
								</div>
								{{editFunction.value | json}}
								<div class="row">
									<div class="col-12">
										<div class="btn-group pull-right" role="group" aria-label="...">
											<button type="button" class="btn btn-danger"
												(click)="functionDeleteModal.show()">
												<i class="fa fa-minus" aria-hidden="true"></i>
											</button>
										</div>
									</div>
								</div>
							</form>
						</tab>
					</tabset>
				</div>
			</div>
		</div>
	</div>
</div>

<div bsModal #functionModal="bs-modal" class="addModal modal fade"
	tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-primary" role="document">
		<div class="modal-content">
			<form #f="ngForm">
				<div class="modal-header">
					<h4 class="modal-title">Nieuwe Functie</h4>
					<button type="button" class="close"
						(click)="closeModal(functionModal)" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div *ngIf="loading" align="center">
						<br /> <img src="assets/img/ripple.svg" />
					</div>
					<div class="form">
						<div class="form-group row">
							<label for="name" class="col-2 col-form-label">Functie</label>
							<div class="col-10">
								<input class="form-control" type="text" id="name" name="name"
									required [(ngModel)]="functieform.name">
							</div>
						</div>
					</div>
				</div>
				<div *ngIf="!loading" class="modal-footer">
					<button type="button" class="btn btn-secondary"
						(click)="functionModal.hide()">Sluiten</button>
					<button type="button" class="btn btn-primary" (click)="addFunction()">Toevoegen</button>
				</div>
			</form>
		</div>
		<!-- /.modal-content - -->
	</div>
	<!-- /.modal-dialog - -->
</div>
<!-- /.modal - -->

<div bsModal #functionDeleteModal="bs-modal" class="addModal modal fade"
	tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-primary" role="document">
		<div class="modal-content">
			<form #f="ngForm">
				<div class="modal-header">
					<h4 class="modal-title">
						<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Verwijder Functie
					</h4>
					<button type="button" class="close"
						(click)="closeModal(functionDeleteModal)" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div *ngIf="loading" align="center">
						<br /> <img src="assets/img/ripple.svg" />
					</div>
					<div class="form">
						<div class="form-group row">
							<label for="name" class="col-2 col-form-label">Functie</label>
							<div class="col-10">
								<!-- <input class="form-control" type="text" id="name" name="name"
									required [(ngModel)]="functieform.name"> -->
										<div class="col-form-label">{{selectedFunction.name}}</div>
							</div>
						</div>
					</div>
				</div>
				<div *ngIf="!loading" class="modal-footer">
					<button type="button" class="btn btn-secondary"
						(click)="functionDeleteModal.hide()">Sluiten</button>
					<button type="button" class="btn btn-warning" (click)="deleteFunction(); closeModal(functionDeleteModal)">Verwijderen</button>
				</div>
			</form>
		</div>
		<!-- /.modal-content - -->
	</div>
	<!-- /.modal-dialog - -->
</div>
<!-- /.modal - -->
