<style>
.selectable:hover {
	cursor: pointer;
}

.table-label {
	width: 10%;
}
</style>

<div class="container">
	<div *ngIf="loading" align="center" class="page-loading">
		<img src="assets/img/ripple.svg" />
	</div>
	<div class="row">
		<div class="col-3">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title mb-0">Modules</h4>
					<br />
					<button type="button" class="btn btn-info"
						(click)="moduleModal.show(); initializeModuleForm();">
						<i class="fa fa-plus" aria-hidden="true"></i>
					</button>
				</div>
				<div class="card-block">
					<div class="course-wrapper">
						<div class="row">
							<div class="col-md-12">
								<table class="table table-hover">
									<tbody>
										<tr *ngFor="let module of modules" (click)="onSelect(module)"
											class="selectable">
											<td colspan="1">{{ module.name }}
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-9 course">
			<div *ngIf="selectedModule" class="card">
				<div class="card-header">
					<h4 class="card-title mb-0">{{selectedModule.name}}</h4>
				</div>
				<div class="card-block">
					<!-- Nav tabs -->
					<tabset>
							<tab heading="Module" id="tab1">
								<form #editModule="ngForm" novalidate>
									<a href="javascript:void(0)" (click)="changeMode('edit')"
										*ngIf="mode == 'view'">Bewerken</a> <a href="javascript:void(0)"
										(click)="changeMode('view');" *ngIf="mode == 'edit'">Annuleren</a>
									<a href="javascript:void(0)" (click)="saveModule(editModule)"
										*ngIf="mode == 'edit'">Opslaan</a>

									<div class="form-group row">
										<label for="name" class="col-2 col-form-label">Module Naam</label>
										<div class="col-10">
											<div class="col-form-label" *ngIf="mode == 'view'">{{selectedModule.name}}</div>
									   <input *ngIf="mode == 'edit'" class="form-control" type="text"
												id="name" name="name" required [(ngModel)]="moduleForm.name">
										</div>
									</div>
									{{editModule.value | json}}
									<div class="row">
										<div class="col-12">
											<div class="btn-group pull-right" role="group" aria-label="...">
												<button type="button" class="btn btn-danger"
													(click)="moduleDeleteModal.show()">
													<i class="fa fa-minus" aria-hidden="true"></i>
												</button>
											</div>
										</div>
									</div>

								</form>
							</tab>
							<tab heading="Functies" id="tab1">
								<div class="col-12">
									<div class="row">
										<div class="table-responsive">
											<table class="table preview-table">
												<thead>
													<tr>
														<th></th>
														<th>Naam</th>
													</tr>
												</thead>
												<tbody>
													<tr *ngFor="let fu of selectedModule.functionArr">
														<td><a class="text-danger lead"
															href="javascript:void(0)" (click)="deleteFunctionFromModule(fu)"><i
																class="fa fa-minus-circle" aria-hidden="true"></i></a></td>
														<td>{{fu.name}}</td>
													</tr>
												</tbody>
												<!-- preview content goes here-->
											</table>
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<div class="btn-group pull-right" role="group" aria-label="...">
												<button type="button" class="btn btn-info"
													(click)="functieModal.show(); initializeFunctionForm();">
													<i class="fa fa-plus" aria-hidden="true"></i>
												</button>
											</div>
										</div>
									</div>
								</div>
							</tab>
					</tabset>
				</div>
			</div>
		</div>
	</div>
</div>

<div bsModal #moduleModal="bs-modal" class="addModal modal fade"
	tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-primary" role="document">
		<div class="modal-content">
			<form #f="ngForm">
				<div class="modal-header">
					<h4 class="modal-title">Nieuwe Module</h4>
					<button type="button" class="close"
						(click)="closeModal(moduleModal)" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div *ngIf="loading" align="center">
						<br /> <img src="assets/img/ripple.svg" />
					</div>
					<div class="form">
						<div class="form-group row">
							<label for="name" class="col-2 col-form-label">Module</label>
							<div class="col-10">
								<input class="form-control" type="text" id="name" name="name"
									required [(ngModel)]="moduleForm.name">
							</div>
						</div>
					</div>
				</div>
				<div *ngIf="!loading" class="modal-footer">
					<button type="button" class="btn btn-secondary"
						(click)="moduleModal.hide()">Sluiten</button>
					<button type="button" class="btn btn-primary" (click)="addModule()">Toevoegen</button>
				</div>
			</form>
		</div>
		<!-- /.modal-content - -->
	</div>
	<!-- /.modal-dialog - -->
</div>
<!-- /.modal - -->

<div bsModal #functieModal="bs-modal" class="modal fade" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-primary" role="document">
		<div class="modal-content">
			<form name="#functionForm" novalidate>
				<div class="modal-header">
					<h4 class="modal-title">Modules</h4>
					<button type="button" class="close" (click)="functieModal.hide()"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div *ngIf="loading" align="center">
						<br /> <img src="assets/img/ripple.svg" />
					</div>
					<span *ngIf="error" class="text-danger">Selecteer een
						functie!</span>
					<div class="form-group">
						<label for="function">Functions</label> <select
							class="form-control" id="function" name="function"
							[(ngModel)]="functionForm.id">
							<option *ngFor="let a of availableFunctions" [ngValue]="a.id">{{a.name}}</option>
						</select>
					</div>
					<!-- <p>Form: {{ selectedModule.value | json }}</p> -->
				</div>
				<div *ngIf="!loading" class="modal-footer">
					<button type="button" class="btn btn-secondary"
						(click)="functieModal.hide()">Sluiten</button>
					<button type="button" class="btn btn-primary"
						(click)="addFunctionToModule(functionForm)">Toevoegen</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div bsModal #moduleDeleteModal="bs-modal" class="addModal modal fade"
	tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-primary" role="document">
		<div class="modal-content">
			<form #f="ngForm">
				<div class="modal-header">
					<h4 class="modal-title">
						<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Verwijder Module
					</h4>
					<button type="button" class="close"
						(click)="closeModal(moduleDeleteModal)" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div *ngIf="loading" align="center">
						<br /> <img src="assets/img/ripple.svg" />
					</div>
					<div class="form">
						<div class="form-group row">
							<label for="name" class="col-2 col-form-label">Module</label>
							<div class="col-10">
								<!-- <input class="form-control" type="text" id="name" name="name"
									required [(ngModel)]="functieform.name"> -->
										<div class="col-form-label">{{selectedModule.name}}</div>
							</div>
						</div>
					</div>
				</div>
				<div *ngIf="!loading" class="modal-footer">
					<button type="button" class="btn btn-secondary"
						(click)="moduleDeleteModal.hide()">Sluiten</button>
					<button type="button" class="btn btn-warning" (click)="deleteModule(); closeModal(moduleDeleteModal)">Verwijderen</button>
				</div>
			</form>
		</div>
		<!-- /.modal-content - -->
	</div>
	<!-- /.modal-dialog - -->
</div>
<!-- /.modal - -->
